# Aparte bestanden worden niet los geupload. De twee ZIPs bevatten de te distriburen bestanden
*.laccdb
*.accdb
*.trig
*.ttl

# Uitzonderingen
!*changelogging/*
!*informele handreiking/*
!*-rest-api-linkset.ttl

