# Aparte bestanden worden niet los geupload. De twee ZIPs bevatten de te distriburen bestanden
*.laccdb
*.accdb

# Uitzonderingen
!*alignments/*
!*changelogging/*
!*informele handreiking/*
!*-rest-api-linkset.ttl




